*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

ul,ol,li{
    list-style: none;
}

body{
    width: 110vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #F5CF06;
    font-family: "Righteous", sans-serif;
}

header, footer{
    height: 190px;
    display: flex;
    padding: 0 20px;
    color: #8E4106;
}
header{
    display: flex;
    padding: 70px 100px;
    gap: 0 17px;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #8E4106;
}
.pikachu_pequeno{
    color: white;
    font-size: 300px;
    position: absolute;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
    width: 1096px;
    height: 373px;
    top: 300px;
    left: 172px;

}
.pikachu_GRANDE{
    position: absolute;
    width: 1462px;
    height: 497px;
    top: 130px;
    left: -11px;
    font-weight: 400;
    font-size: 400px;
    line-height: 100%;
    color: white;
    opacity: 40%;
}
.pikachu{
    width: 559px;
    height: 541px;
    top: 292px;
    left: 440px;
    position: absolute;
}
h3{
    position: absolute;
    width: 530px;
    height: 79px;
    top: 629px;
    left: 70px;
    font-weight: 400;
    font-size: 64px;
    line-height: 100%;
}
h4{
    position: absolute;
    width: 489px;
    height: 75px;
    top: 708px;
    left: 70px;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
}
h5{
    position: absolute;
    width: 208px;
    height: 20px;
    top: 856px;
    left: 586px;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
}
button{
    width: 411px;
    height: 100px;
    top: 683px;
    left: 959px;
}
.container{
    top: 683px;
    left: 959px;
}
button{
    position: absolute;
    background-color: #8E4106;
    width: 411px;
    height: 100px;
    top: 683px;
    left: 959px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 37px;
    border: none;
}
.donwload{

    width: 24px;
    height: 32px;
    top: 717px;
    left: 1032px;

}
h6{
    width: 221px;
    height: 60px;
    top: 703px;
    left: 1093px;
    font-weight: 400;
    font-size: 48px;
    line-height: 100%;
    color: white;

}